body {
    background: burlywood;
}

.wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.wrap a {
    border: outset;
    padding: 5px 15px 5px 15px ;
    text-decoration: none;
    background: linear-gradient(45deg, black, transparent);
    color: aliceblue;
}

.wrap a:hover {
    color: wheat;
}

.route {
    text-align: center;
    margin-top: 40px;
}